.business_areas_menu {
    list-style-type: none;
}

.business_areas {
   margin-left: 290px;
}

.business_areas_item {
    margin-left: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
