.email {
    margin-top: 40px;
    background-color: $white;
    border-radius: 20px 20px 20px 20px;
    width: 458px;
    height: 52px;
    margin-left: 60px;
}

.email-name {
    border: none;
    width: 458px;
    height: 52px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
}
