.icon-twiter {
    width: 24px;
}

.icon-inst {
    width: 24px;
    margin-left: 20px;
}

.icon-facebook {
    width: 12px;
    margin-left: 24px;
}

.icon-twiter:active{
    width: 22px;
}

.icon-inst:active {
    width: 22px;
}

.icon-facebook:active {
    width: 10px;
}

.icon_social {
    display: flex;
}
