
.main {
    background-image: url(../img/header-bkg.jpg);
    background-repeat: no-repeat;
    padding-top: 420px;
}

.main__about-text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main__name {
    font-size: 54px;
    font-weight: 400;
    font-weight: 400;
    text-align: center;
    color: $white;
}

.main__name-text {
    text-align: center;
    font-weight: 400;
    width: 580px;
    height: 80px;
    margin-left: 430px;
}

.main__text {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    }

.main__item-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: $white;
}

.main__item-text-box {
    width: 514px;
    font-weight: 400;
    line-height: 20px;
    color: $white;
}





