
.monument {
    background-image: url(../img/background_monument.jpg);
    background-repeat: no-repeat;
    height: 600px;
    padding: 0;
}


.monument-box {
    margin-top: 260px;
}

.monument-item {
    margin-right: 154;
    color: $white;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.monement-text {
    width: 298px;
    height: 60px;
    font-family: Poppins;
    font-weight: 400;
    margin-right: 62px;
}