.pages_item {
    margin-left: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pages {
    margin-left: 55px;
    margin-bottom: 36px;
}

.pages-menu {
    list-style-type: none;
}
