.setup__logo {
    display: flex;
    justify-content: right;
    margin-right: 40px;
}

.setup__logo-photo {
    margin-right: 6px;
}

.setup__logo-text {
    font-size: 12px;
    margin-right: 16px;
    font-weight: 400;
}

.setup__logo-monument {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-top: 180px;
}

.setup__logo-photo-monument {
    margin-right: 6px;
}

.setup__logo-text-monument {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 400;
}

.setup__logo__gear-box {
    margin-right: 40px;
    display: flex;
    margin-top: 480px;
    font-size: 12px;
    margin-left: 415px;
}

.setup__logo-gear-box {
    margin-right: 6px;
}

.setup__logo-text-gear-box {
    margin-right: 16px;
    font-weight: 400;
}

.setup__logo-fern {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-top: 180px;
}

.setup__logo-photo-fern {
    margin-right: 6px;
}

.setup__logo-text-fern {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 400;
}

.setup__logo-night {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-top: 180px;
}

.setup__logo-photo-night {
    margin-right: 6px;
}

.setup__logo-text-night {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 400;
}
