.subscribe {
    display: flex;
    justify-content: space-around;
}

.subscribe_main-text {
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    margin-top: 36px;
}
.subscribe_text {
    margin-right: 100px;
}
.subscribe_read-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $gray;
    margin-top: 20px;
    margin-bottom: 36px;
}
