.the-gear-cage__text {
    width: 600px;
    height: 314px;
}

.the-gear-cage-box {
    float: right;
    width: 720px;
    height: 540px;
    position: relative;
}

.the-gear-cage-box .setup__logo__gear-box {
    position: absolute;
}

.the-gear-cage-box .setup__logo__gear-box {
    display: flex;
}
